@{Layout = Request.IsAjaxRequest() ? null : "~/Views/Layouts/Blank.Container.cshtml";}
<main>
    <div class="container-fluid">
        <div class="page">
            <div class="content"> @RenderBody() </div>
        </div>
    </div>

    @if (!Request.IsAjaxRequest())
    {
        <script src="/lib/requirejs/require.js" data-main="/scripts/references.js?v=1"></script>
    }

    @RenderSection("scripts", required: false)

    @Html.RegisterStartupActions()
</main>