<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href="~/styles/login/styles.css?v=@Settings.ResourceVersion" type='text/css' />
    <!--[if lt IE 11]> <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script> <![endif]-->
</head>
<body>
	@RenderBody()
</body>
</html>