@model ViewModel.RequestUserPasswordResetTicket
<!-- «Start| RequestUserPasswordResetTicket» -->
<form data-module="RequestUserPasswordResetTicket" role="form" method="post" action="@Url.Current()" data-validation-style="tooltip" class="input-form">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <h2>Forgot Your Password?</h2>
   <p>
      Please provide your email address. You will receive an email with instructions on how to reset your password.
   </p>
   <div class="form-body">
      <div class="form-group row required-item">
         <label for="Email" class="control-label">
            Email
         </label>
         <div class="group-control">
            <input type="text" asp-for="Email" class="form-control" autofocus="autofocus" />
         </div>
      </div>
   </div>
   <div class="buttons-row">
      <div class="buttons">
         <button type="submit" name="Send" class="btn btn-primary" formaction='@Url.ActionWithQuery("RequestUserPasswordResetTicket/Send")' default-button="true">Send</button>
      </div>
   </div>
</form>
<!-- «End| RequestUserPasswordResetTicket» -->
