obj
Template/Website/wwwroot/lib
MSharp.exe
bin
Template/M#/lib/netcoreapp2.0/*
!Template/M#/lib/netcoreapp2.0/MSharp.DSL.runtimeconfig.json
.vs
Template/Website/wwwroot/public/css/
Template/Website/@Temp.File.Uploads/
Template/Website/package-lock.json
/Template/Website.zip
