$header-height: 4.5rem;
$sidebar-width: 22rem;

$control-input-width: 40rem;
$s-control-input-min-width: 22rem;
$default-font-size: 1.4rem;
//$default-padding-size: 2rem; @TODO: find a better name
//$footer-height: 90px;
//$footer-top-margin: 30px;
