///<reference path="../../common/utilities/utilities">
h2 {
    margin-top: 0;
    font-size: 2.2rem;
    color: $color-primary;
    padding: 0.5rem 0;
}

.social-media-login .buttons-row {
    text-align: left;
}

.captcha-image {
    margin-top: 10px !important;
}

.captcha-image-refresh {
    i {
        margin-right: 10px;
    }
}
