@{ ViewData["Title"] = "Error";}

<h2 class="text-danger">Page not found!</h2>
<p>The page you have requested doesn't exist.</p>
<p> Please check the URL and try again, or you may go back to <a href="/">home page</a>.</p>
